body{
      background: linear-gradient(to top, rgb(125, 30, 30), brown);
      background-color: brown;
}
#headerN{
  color: black;
  margin-left: 25px;
}
#total{
  color: black;
  font-size: 20px;
  margin: 25px;
}
#header{
  margin-top: 20px;
  font-size: 36px;
  color: white;
  background: linear-gradient(to top, rgb(125, 30, 30), #0f150d);
text-shadow: #ccc 0 0px 0, #c9c9c9 0 2px 0, #bbb 0 3px 0, #b9b9b9 0 4px 0, #aaa 0 5px 0,rgba(0,0,0,.1) 0 6px 1px, rgba(0,0,0,.1) 0 0 5px, rgba(0,0,0,.3) 0 1px 3px, rgba(0,0,0,.15) 0 3px 5px, rgba(0,0,0,.2) 0 5px 10px, rgba(0,0,0,.2) 0 10px 10px, rgba(0,0,0,.1) 0 20px 20px;
}
.partition-class{
	
	margin: 20px;
}

.left-align{
  margin-top:15px;
  margin-left: 20px;
	      float:left;
          width:350px;
          height:550px;
          font-size:30px;
          font-style: italic;
          color: white;



}
.left-align:focus{
	 width: 100%;
}
.middle{
	      float:left;
          height:550px;
          font-size:28px;
}
.middle:focus{
	 width: 100%;
}
.right-align{
        margin-left:500px;
        margin-top:35px;
        margin-right:90px;
        text-align: justify;
        font-size:28px;
        font-style: italic;
        color: white;
       
        
}
.search-menu{
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search-menu:focus {
    width: 100%;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background:white;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  margin-left: 10px;
  padding: 15px 70px;
    font-size: 20px;
    border: 1px solid #801402;
    /*box-shadow: 0px 6px 0px #000000, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
*/

}
#myULT li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, rgb(125, 30, 30), #1b0e0e);  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  margin-left: 10px;
  margin-right: 50px;

   border: 1px solid #801402;
  box-shadow: 0px 6px 0px #000000, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);

}
#myULT {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#myULT li a:hover:not(.header) {
    background-image: linear-gradient(to bottom, rgb(12, 30, 30), #4cb929);
}
#myUL li a:hover:not(.header) {
    background-image: linear-gradient(to bottom, rgb(12, 30, 30), #29b9b2);
}
#Table-div li a:hover:not(.header) {
  background-color: #eee;
}
* {
  box-sizing: border-box;
}
.button[type="edit-table"]{
	margin-top: 10px;
	height: 68px;
	width: 260px;
	font-size: 20px;
	font-family: inherit;
}
#Total-table{
	float: left;
}
.vertical-line{
	width:1px;
	height:1308px;
}

.dialog{
  border:5px solid #666;
  padding:10px;
  height: 350px;
  width: 500px;
  top:161px;
    left:300px;
  background:white;
  position:absolute;
  display:none;
}
.dialog label{
  display:inline-block;
  color:#cecece;
}
input[type=text]{
  border:5px solid #333;
  display:inline-block;
  margin:5px;
  width: 245px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    left: 0;
    top: 0;
    margin-left: 50px;
    margin-top: 50px;
    width: 50%; /* Full width */
    height: 50%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    
    background-color: rgba(208, 213, 188, 1); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 200px;
}

/* Caption of Modal Image */

/* Add Animation */
.modal-content{    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}



/* The Close Button */
.closeN {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #020202;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.closeN:hover,
.closeN:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.delete{
 color: #020202;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
    
}
.delete:hover,
.delete:focus {
   color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.button[type=edit]{
  position: absolute;
    top: 15px;
    left:300px;
    color: #020202;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.button[type=edit]:hover,
.button[type=edit]:focus {
   color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
#table-detail{
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
}

.bill-payment{
  position: absolute;
    left: 220px;
    color: #020202;
    font-size: 25px;
    font-weight: bold;
    transition: 0.3s;
    background-color:deepskyblue;
}
.bill-payment:hover,
.bill-payment:focus {
   color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
#select-menu{
    border-radius: 2px;
    background-color: maroon;
    height: 30px;
    margin-bottom: 15px;
    background-image: linear-gradient(to bottom, rgb(125, 30, 30), #1b0e0e);
    font-size: 20px;
    color: white;
  }